<%- include("navbar") %>
<main>
<section 
class="col-4 col-md-12 p-0 d-flex flex-column justify-content-center align-items-center onePlace" 
>
  
  <div class=" ">
    <div class=" d-md-flex justify-content-center align-items-center imgppal" style="width: 18rem;">
      <div class="imgplace">
        <img src="/images/places/<%= result[0].img_place %>" class="rounded card-onePlace" alt="...">
      </div>
      <div class="card-body bg-black3">
        <h4 class="card-text  "><%= result[0].place_name%></h4>
        <br>
        <h3><%= result[0].address %></h3>
      </div>
    </div>
  </div>


</section>


</main>
<%- include("footer") %>